
@{
    ViewBag.Title = "TextLocalConfiguration";
}

<!-- Bootstrape CSS and JS -->
<link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>

<!-- Font Awesome CSS -->
<link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<!-- VS CSS -->
<link href="/css/subscription-style.css" rel="stylesheet" type="text/css">
<link href="/css/subscription-responsive.css" rel="stylesheet" type="text/css">



<div class="">
    <div class="col-md-12">
        <h1 class="page-title txt-color-blueDark">
            <!-- PAGE HEADER -->
            <i class="fa-fw fa fa-plus-square"></i>
            TextLocal Configuration
            <br />
        </h1>
    </div>
</div>



<!-- widget grid -->
@*<section id="widget-grid" class="">
    <!-- row -->
    <div class="">
        <!-- NEW COL START -->
        <article class="col-md-12">
            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">

                <!-- widget div-->
                <div>
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                    </div>
                    <!-- end widget edit box -->
                    <!-- widget content -->
                    <div class="widget-body no-padding">
                        <form id="checkout-form" class="smart-form" novalidate="novalidate">
                            <fieldset>
                                <div class="row">
                                    <section class="col col-6">
                                        <label class="input">
                                            <i class="icon-prepend fa fa-user"></i>
                                            <input type="text" id="txtApiKey" name="txtApiKey" placeholder="API Key">
                                        </label>
                                    </section>
                                    <section class="col col-6">
                                        <label class="input">
                                            <i class="icon-prepend fa fa-hashtag"></i>
                                            <input type="text" id="txtusername" name="txtusername" placeholder="User Name">
                                        </label>
                                    </section>
                                </div>
                            </fieldset>

                            <fieldset>
                                <div class="row">
                                    <section class="col col-6">
                                        <label class="input">
                                            <i class="icon-prepend fa fa-user"></i>
                                            <input type="text" id="txtHash" name="txtHash" placeholder="Hash">
                                        </label>
                                    </section>
                                    <section class="col col-6">
                                        <label class="input">
                                            <i class="icon-prepend fa fa-user"></i>
                                            <input type="text" id="txtPassword" name="txtPassword" placeholder="Password">
                                        </label>
                                    </section>

                                </div>
                            </fieldset>

                            <footer>
                                <input type="button" value="Add Textlocal Configuration" id="btnsubmut" name="btnsubmit" class="btn btn-primary" /><div id="dvback">
                                </div>
                            </footer>




                        </form>
                    </div>
                    <!-- end widget content -->
                </div>
                <!-- end widget div -->
            </div>
            <!-- end widget -->
        </article>
        <!-- END COL -->

    </div>
    <!-- end row -->
</section>*@
<!-- end widget grid -->
<!-- END #MAIN CONTENT -->



<form id="checkout-form" class="smart-form" novalidate="novalidate">
    <div class="my-body">
        <div class="row">
            <div class="col-md-4">
                <div class="my-field">
                    <label>API Key</label>
                    <input type="text" id="txtApiKey" name="txtApiKey" placeholder="API Key">
                </div>
            </div>
            <div class="col-md-4">
                <div class="my-field">
                    <label>User Name</label>
                    <input type="text" id="txtusername" name="txtusername" placeholder="User Name">
                </div>
            </div>
            <div class="col-md-4">
                <div class="my-field">
                    <label>Hash</label>
                    <input type="text" id="txtHash" name="txtHash" placeholder="Hash">
                </div>
            </div>

            <div class="col-md-4">
                <div class="my-field">
                    <label>Password</label>
                    <input type="password" id="txtPassword" name="txtPassword" placeholder="Password" >
                </div>
            </div>
        </div>

        <hr id="mountly-cutsom-hr">

        


    </div>
    <div class="my-footer">
        <input type="button" value="Add Plan" id="btnsubmut" name="btnsubmit" class="btn btn-success btn-lg" />
    </div>
</form>


<script src="~/Scripts/TextlocalConfiguration.js"></script>
<script>
    $(function () {

        textlocalConfiguration.InitalizeEvents();
    })
</script>
