
@{
    ViewBag.Title = "ViewPlan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ViewPlan</h2>


<div id="dvplan" name="dvplan"></div>


@section scripts{

    <script src="~/Scripts/ViewPlan.js"></script>
}