
@{
    ViewBag.Title = "ViewPlan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<title>View Plan</title>

<!-- Bootstrape CSS and JS -->
<link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>

<!-- Font Awesome CSS -->
<link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<!-- VS CSS -->
<link href="/css/subscription-style.css" rel="stylesheet" type="text/css">
<link href="/css/subscription-responsive.css" rel="stylesheet" type="text/css">


@*<script>
    function goBack() {
        window.history.back();
    }
</script>*@

<h1 class="text-center">Plans and Pricing</h1>
<p class="text-center"></p>

<div id="links">
    <button id="goBack">Go Back</button>
</div>

<div id="plan-tabs">

    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#1" data-toggle="tab">PayAsYouGo</a>
        </li>
        <li>
            <a href="#2" data-toggle="tab">Monthly</a>
        </li>
    </ul>

    <div class="tab-content ">
        <div class="tab-pane active" id="1">

            <div class="plans">

                <div id="divLoader" name="divLoader" style="display:block"><img src="~/Content/Images/loader.gif" /></div>
                <div id="dvplanPayAsYouGo" name="dvplanPayAsYouGo"></div>

            </div>

        </div>
        <div class="tab-pane" id="2">

            <div class="plans">

                <div id="dvplanMonthly" name="dvplanMonthly"></div>

            </div>

        </div>
    </div>

</div>





@section scripts{

    <script src="~/Scripts/ViewPlan.js"></script>
}