<div id="divLoader" name="divLoader" style="display:block"><img src="~/Content/Images/loader.gif" /></div>
<div class="site-width" id="payment-tabs">
    <div id="alerts"></div>
    <h1 id="plan-name-title">
        <span id="dvbuycredit" name="dvbuycredit">   </span>
    </h1>
    <div>
        <div class="form-group">
            <label for="fname">First Name:</label>
            <input type="text" class="form-control" id="fname">
        </div>
        <div class="form-group">
            <label for="lname">Last Name:</label>
            <input type="text" class="form-control" id="lname">
        </div>
        <div class="form-group">
            <label for="crdnumber">Card Number:</label>
            <input type="text" class="form-control" id="crdnumber">
        </div>
        <div class="form-group">
            <label>Exp. Month:</label>
            <input type="text" class="form-control" id="expmonth">
        </div>
        <div class="form-group">
            <label>Exp. Yer:</label>
            <input type="text" class="form-control" id="expyear">
        </div>
        <div class="form-group">
            <label>Streat Address:</label>
            <input type="text" class="form-control" id="add">
        </div>
        <div class="form-group">
            <label>Address2:</label>
            <input type="text" class="form-control" id="add2">
        </div>
        <div class="form-group">
            <label>City:</label>
            <input type="text" class="form-control" id="city">

        </div>
        <div class="form-group">
            <label>State:</label>
            <input type="text" class="form-control" id="state">
        </div>
        <div class="form-group">
            <label>Zip:</label>
            <input type="text" class="form-control" id="zip">
        </div>

        <div class="form-group">
            <label>Credit: (<span id="lblprice" name="lblprice"></span>)</label>
            <input type="text" class="form-control" id="qty">
        </div>

        <div class="form-group">
            <label>Total: (<div id="lbltotal"></div>)</label>
        </div>

        <button type="submit" id="btnSubmit" name="btnSubmit" class="btn btn-default">Submit</button>


    </div>
</div>


