<div id="divLoader" name="divLoader" style="display:block"><img src="~/Content/Images/loader.gif" /></div>


<div class="">
    <div class="col-md-12">
        <h1 class="page-title txt-color-blueDark">
            <!-- PAGE HEADER -->
            <i class="fa-fw fa fa-plus-square"></i>
            Purchase Plan
        </h1>
    </div>
</div>



<!-- widget grid -->
<section id="widget-grid" class="">

    <!-- row -->

    <div class="">

        <!-- NEW COL START -->
        <article class="col-md-12">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">


                <!-- widget div-->
                <div>

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->

                    </div>
                    <!-- end widget edit box -->
                    <!-- widget content -->
                    <div id="alerts"></div>

                    <div id="dvcrruentsubscription">
                    </div>
                    <h1 id="plan-name-title">
                        <span id="dvbuycredit" name="dvbuycredit">   </span>

                    </h1>

                    <div id="dvmonthly" name="dvmonthly"></div>
                    <br />
                    <div id="dvcreditdeductiondetail">
                    </div>
                    <br />
                    <br />


                    <div class="widget-body no-padding">

                        <form id="checkout-form" class="smart-form" novalidate="novalidate">

                            <fieldset>
                                <div class="row">
                                    <section class="col col-6">
                                        <label class="input">
                                            <i class="icon-prepend fa fa-user"></i>
                                            <input type="text" id="txtplancode" name="txtplancode" placeholder="Plane Code">
                                        </label>
                                    </section>
                                    <section class="col col-6">
                                        <label class="input">
                                            <i class="icon-prepend fa fa-hashtag"></i>
                                            <input type="text" id="txtplanname" name="txtplanname" placeholder="Plan Name">
                                        </label>
                                    </section>
                                </div>
                            </fieldset>


                            <fieldset>
                                <div class="row">
                                    <section class="col col-6">
                                        <label class="input">
                                            <i class="icon-prepend fa fa-user"></i>
                                            <input type="text" id="txtplandes" name="txtplandes" placeholder="Plan Description">
                                        </label>
                                    </section>

                                    <section class="col col-6">

                                        <label class="input">
                                            <i class="icon-prepend fa fa-user"></i>
                                            <input type="text" id="txtcreditamount" name="txtcreditamount" placeholder="Credit Amount">
                                        </label>
                                    </section>

                                </div>
                            </fieldset>





                            <fieldset>
                                <div class="row">
                                    <section class="col col-6">
                                        <div class="form-group">
                                            <label for="plancode">Plan Expiry Month</label>
                                            <input type="text" id="planexpirydate" name="planexpirydate">
                                        </div>
                                    </section>

                                    <section class="col col-6">
                                        <label for="plantype">Plan Type</label>
                                        <select class="selectpicker" id="plantype" name="plantype">
                                            <option id="1" value="1">Pay as you go</option>
                                            <option id="2" value="2">Monthlhy</option>
                                        </select>
                                    </section>
                                </div>
                            </fieldset>



                            <div id="dvmonthly" style="display:none;">

                                <fieldset>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="textarea">
                                                <input class="form-control" id="txtnoofdriver" name="txtnoofdriver" placeholder="No. of Driver">
                                            </label>

                                            <label class="textarea">
                                                <input class="form-control" id="txtnoofagent" name="txtnoofagent" placeholder="No. of Agent">
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <div class="row">
                                        <section>
                                            <label class="textarea">
                                                <input class="form-control" id="txtnoofvehicle" name="txtnoofvehicle" placeholder="No. of Vehicle">
                                            </label>

                                            <label class="textarea">
                                                <input class="form-control" id="txtpricepersms" name="txtpricepersms" placeholder="Per SMS Credit Price">
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>

                            </div>


                            <footer>
                                <input type="button" value="Add Plan" id="btnsubmut" name="btnsubmit" class="btn btn-primary" />
                            </footer>
                        </form>

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->

        </article>
        <!-- END COL -->


    </div>

    <!-- end row -->

</section>
<!-- end widget grid -->
<!-- END #MAIN CONTENT -->





<div class="site-width" id="payment-tabs">
    <div id="alerts"></div>

    <div id="dvcrruentsubscription">
    </div>
    <h1 id="plan-name-title">
        <span id="dvbuycredit" name="dvbuycredit">   </span>

    </h1>

    <div id="dvmonthly" name="dvmonthly"></div>
    <br />
    <div id="dvcreditdeductiondetail">
    </div>
    <br />
    <br />
    <form id="payment-form" method="post" action="/Home/SubmitContact">
        <input type="hidden" name="hdnplanid" id="hdnplanid" />
        <input type="hidden" name="hdnaccount" id="hdnaccount" />


        <section>
            <div class="form-group">
                <label for="fname">First Name:</label>
                <input type="text" class="form-control" id="fname">
            </div>
            <div class="form-group">
                <label for="lname">Last Name:</label>
                <input type="text" class="form-control" id="lname">
            </div>

            <div class="form-group" id="dvsmscreditqty" name="dvsmscreditqty">
                <label>Per SMS Credit Price: (£<span id="lblsmscreditprice" name="lblsmscreditprice"></span>)</label>
                <input type="text" class="form-control" id="smscreditqty" name="smscreditqty">
                <input type="hidden" name="hdnsmscreditamount" id="hdnsmscreditamount" />
            </div>

            <div class="form-group">
                <label>Credit: (£<span id="lblprice" name="lblprice"></span>)</label>
                <input type="text" class="form-control" id="qty" name="qty">
                <input type="hidden" name="hdnamount" id="hdnamount" />
            </div>


            <div class="form-group">
                Total: <input type="text" class="form-control" id="totalamount" name="totalamount" disabled="disabled">
            </div>

            <div class="bt-drop-in-wrapper">
                <div id="bt-dropin"></div>
            </div>
        </section>
        <input id="nonce" name="payment_method_nonce" type="hidden" />
        <button class="button" type="submit" onclick="ValidateSubscription(this)"><span>Test Transaction</span></button>
    </form>


    <div>

    </div>
</div>




<script src="https://js.braintreegateway.com/web/dropin/1.10.0/js/dropin.min.js"></script>
<script>
    var client_token = "@ViewBag.ClientToken";
    var form = document.querySelector('#payment-form');

    braintree.dropin.create({
        authorization: client_token,
        container: '#bt-dropin',
        paypal: {
            flow: 'vault'
        }
    }, function (createErr, instance) {
        form.addEventListener('submit', function (event) {
            event.preventDefault();

            instance.requestPaymentMethod(function (err, payload) {
                if (err) {
                    console.log('Error', err);
                    return;
                }

                // Add the nonce to the form and submit
                document.querySelector('#nonce').value = payload.nonce;
                form.submit();
            });
        });
    });
</script>
