<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h2>Your request has proceed. kindly wait for a moment.</h2>
    </hgroup>
	
	
<script>
    var timer = setTimeout(function () {
        var aValue = localStorage.getItem("accounttoken");
        console.log(aValue);
        window.location = 'dashboard?data=' + aValue;
    }, 10000);
</script>


</body>
</html>


