
@{
    ViewBag.Title = "AddPlan";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@section scripts{

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    

    <title>Add Plan</title>

    <!-- Bootstrape CSS and JS -->
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>

    <!-- Font Awesome CSS -->
    <link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- VS CSS -->
    <link href="/css/subscription-style.css" rel="stylesheet" type="text/css">
    <link href="/css/subscription-responsive.css" rel="stylesheet" type="text/css">


    <script src="~/Scripts/AddPlan.js"></script>
    <script>
        $(function () {

            addplan.InitalizeEvents();
        })
    </script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>

    </script>

}


@Html.Partial("~/Views/Shared/Plan/_AddPlan.cshtml")