
@{
    ViewBag.Title = "AddSubscriptionByAdmin";
}

<h2>AddSubscriptionByAdmin</h2>


@section scripts{
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Scripts/AddSubscriptionByAdmin.js"></script>
    <script>
        $(function () {

            addsubscriptionbyadmin.InitalizeEvents();
        })
    </script>

}


@Html.Partial("~/Views/Shared/Plan/_AddSubscriptionByAdmin.cshtml")
