

@{
    ViewBag.Title = "CreditUtilizationReport";
}


<!-- Bootstrape CSS and JS -->
<link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>

<!-- Font Awesome CSS -->
<link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<!-- VS CSS -->
<link href="/css/subscription-style.css" rel="stylesheet" type="text/css">
<link href="/css/subscription-responsive.css" rel="stylesheet" type="text/css">


<div id="links">
    <span><a href="Dashboard">Back</a> </span> ||
</div>

<div class="container">
    <h2>Credit Utilization Report</h2>

    <div id="divLoader" name="divLoader" style="display:block"><img src="~/Content/Images/loader.gif" /></div>
    <div id="dvrpt" name="dvrpt"></div>
</div>

<script src="~/Scripts/CreditUtilizationReport.js"></script>
