
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<a href="AddPlan">Add Plan </a><br />

<a href="ViewPlan"> View Plan</a><br />

<a href="ViewAllCabOffice"> View Cab Office Subscription </a><br />

<a href="CreditUtilizationReport"> Credit Utilization Report  </a><br />
