
@{
    ViewBag.Title = "PurchaseSubscription";
}

<h2>PurchaseSubscription</h2>

@section scripts{
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Scripts/PartialSubscription.js"></script>
    <script>
        $(function () {

            PartialSubscription.InitalizeEvents();
        })
    </script>

}


@Html.Partial("_PurchaseSubscription");

