
@{
    ViewBag.Title = "ViewPlan";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>View User Subscription</h2>

Cab Office: <div id="dvcaboffice" name="dvcaboffice"></div>
<div id="divLoader" name="divLoader" style="display:block"><img src="~/Content/Images/loader.gif" /></div>
<div id="dvusrsubs" name="dvusrsubs"></div>

@section scripts{
    <script src="~/Scripts/ViewUserSubscription.js"></script>
}
