
@{
    ViewBag.Title = "ViewPlan";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!-- Bootstrape CSS and JS -->
<link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>

<!-- Font Awesome CSS -->
<link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<!-- VS CSS -->
<link href="/css/subscription-style.css" rel="stylesheet" type="text/css">
<link href="/css/subscription-responsive.css" rel="stylesheet" type="text/css">


<div id="links">
    <span><a href="ViewAllCabOffice">Back</a> </span> 
</div>
<h2>View User Subscription</h2>

Cab Office: <div id="dvcaboffice" name="dvcaboffice"></div>
<div id="divLoader" name="divLoader" style="display:block"><img src="~/Content/Images/loader.gif" /></div>
<div id="dvusrsubs" name="dvusrsubs"></div>

@section scripts{
    <script src="~/Scripts/ViewUserSubscription.js"></script>
}
