
@{
    ViewBag.Title = "ViewPlan";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<title>View Plan</title>

<!-- Bootstrape CSS and JS -->
<link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>

<!-- Font Awesome CSS -->
<link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<!-- VS CSS -->
<link href="/css/subscription-style.css" rel="stylesheet" type="text/css">
<link href="/css/subscription-responsive.css" rel="stylesheet" type="text/css">




<div id="main" role="main">

    <!-- RIBBON -->
    <!-- <div id="ribbon">
        <ol class="breadcrumb">
            <li>Home</li>
            <li>Blank</li>
        </ol>
    </div> -->
    <!-- END RIBBON -->
    <!-- #MAIN CONTENT -->

    <div class="">
        <div class="col-md-12">
            <h1 class="page-title txt-color-blueDark">
                <!-- PAGE HEADER -->
                <i class="fa-fw fa  fa-check-square-o"></i>
                View Plan
            </h1>
        </div>
    </div>


    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- row -->

        <div class="">

            <!-- NEW WIDGET START -->
            <article class="col-md-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget well" id="wid-id-0a" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-sortable="false">

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">



                            <div class="col-md-9">
                                <h5>Purchase Subscription</h5>
                                <div class="table-responsive">
                                    <div id="divLoader" name="divLoader" style="display:block"><img src="~/Content/Images/loader.gif" /></div>
                                    <div id="dvplan" name="dvplan"></div>


                                </div>

                            </div>
                        </div>

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->
                <!-- end widget -->

            </article>
            <!-- WIDGET END -->


        </div>

        <!-- end row -->

    </section>
    <!-- end widget grid -->
    <!-- END #MAIN CONTENT -->

</div>



<h1 class="text-center">Plans and Pricing</h1>
<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

<div id="plan-tabs">

    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#1" data-toggle="tab">PayAsYouGo</a>
        </li>
        <li>
            <a href="#2" data-toggle="tab">Monthly</a>
        </li>
    </ul>

    <div class="tab-content ">
        <div class="tab-pane active" id="1">

            <div class="plans">

                <div class="plan-item">
                    <div class="plan-box">
                        <h2>Plan Name</h2>
                        <div class="amount">
                            <h6>Amount</h6>
                            <h3><b>£</b>100</h3>
                            <ul>
                                <li>
                                    <span>Plan Code</span>
                                    PLAN1K
                                </li>
                                <li>
                                    <span>Credit</span>
                                    1000
                                </li>
                            </ul>
                        </div>
                        <div class="description">
                            <h4>Description</h4>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                        </div>
                        <div class="footer-btns">
                            <button class="">Delete</button>
                            <button class=""><a href="purchase-plan-01.html">Purchase</a></button>
                        </div>
                    </div>
                </div>

                <div class="plan-item">
                    <div class="plan-box">
                        <h2>Plan Name</h2>
                        <div class="amount">
                            <h6>Amount</h6>
                            <h3><b>£</b>100</h3>
                            <ul>
                                <li>
                                    <span>Plan Code</span>
                                    PLAN1K
                                </li>
                                <li>
                                    <span>Credit</span>
                                    1000
                                </li>
                            </ul>
                        </div>
                        <div class="description">
                            <h4>Description</h4>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                        </div>
                        <div class="footer-btns">
                            <button class="">Delete</button>
                            <button class=""><a href="purchase-plan-02.html">Purchase</a></button>
                        </div>
                    </div>
                </div>

                <div class="plan-item">
                    <div class="plan-box">
                        <h2>Plan Name</h2>
                        <div class="amount">
                            <h6>Amount</h6>
                            <h3><b>£</b>100</h3>
                            <ul>
                                <li>
                                    <span>Plan Code</span>
                                    PLAN1K
                                </li>
                                <li>
                                    <span>Credit</span>
                                    1000
                                </li>
                            </ul>
                        </div>
                        <div class="description">
                            <h4>Description</h4>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                        </div>
                        <div class="footer-btns">
                            <button class="">Delete</button>
                            <button class="">Purchase</button>
                        </div>
                    </div>
                </div>

                <div class="plan-item">
                    <div class="plan-box">
                        <h2>Plan Name</h2>
                        <div class="amount">
                            <h6>Amount</h6>
                            <h3><b>£</b>100</h3>
                            <ul>
                                <li>
                                    <span>Plan Code</span>
                                    PLAN1K
                                </li>
                                <li>
                                    <span>Credit</span>
                                    1000
                                </li>
                            </ul>
                        </div>
                        <div class="description">
                            <h4>Description</h4>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                        </div>
                        <div class="footer-btns">
                            <button class="">Delete</button>
                            <button class="">Purchase</button>
                        </div>
                    </div>
                </div>

                <div class="plan-item">
                    <div class="plan-box">
                        <h2>Plan Name</h2>
                        <div class="amount">
                            <h6>Amount</h6>
                            <h3><b>£</b>100</h3>
                            <ul>
                                <li>
                                    <span>Plan Code</span>
                                    PLAN1K
                                </li>
                                <li>
                                    <span>Credit</span>
                                    1000
                                </li>
                            </ul>
                        </div>
                        <div class="description">
                            <h4>Description</h4>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                        </div>
                        <div class="footer-btns">
                            <button class="">Delete</button>
                            <button class="">Purchase</button>
                        </div>
                    </div>
                </div>

                <div class="plan-item">
                    <div class="plan-box">
                        <h2>Plan Name</h2>
                        <div class="amount">
                            <h6>Amount</h6>
                            <h3><b>£</b>100</h3>
                            <ul>
                                <li>
                                    <span>Plan Code</span>
                                    PLAN1K
                                </li>
                                <li>
                                    <span>Credit</span>
                                    1000
                                </li>
                            </ul>
                        </div>
                        <div class="description">
                            <h4>Description</h4>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                        </div>
                        <div class="footer-btns">
                            <button class="">Delete</button>
                            <button class="">Purchase</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="tab-pane" id="2">

            <div class="plans">

                <div class="plan-item">
                    <div class="plan-box">
                        <h2>Plan Name</h2>
                        <div class="amount">
                            <h6>Amount</h6>
                            <h3><b>£</b>100</h3>
                            <ul>
                                <li>
                                    <span>Plan Code</span>
                                    PLAN1K
                                </li>
                                <li>
                                    <span>Credit</span>
                                    1000
                                </li>
                            </ul>
                        </div>
                        <div class="description">
                            <h4>Description</h4>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                        </div>
                        <div class="footer-btns">
                            <button class="">Delete</button>
                            <button class=""><a href="purchase-plan-01.html">Purchase</a></button>
                        </div>
                    </div>
                </div>

                <div class="plan-item">
                    <div class="plan-box">
                        <h2>Plan Name</h2>
                        <div class="amount">
                            <h6>Amount</h6>
                            <h3><b>£</b>100</h3>
                            <ul>
                                <li>
                                    <span>Plan Code</span>
                                    PLAN1K
                                </li>
                                <li>
                                    <span>Credit</span>
                                    1000
                                </li>
                            </ul>
                        </div>
                        <div class="description">
                            <h4>Description</h4>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                        </div>
                        <div class="footer-btns">
                            <button class="">Delete</button>
                            <button class=""><a href="purchase-plan-02.html">Purchase</a></button>
                        </div>
                    </div>
                </div>

                <div class="plan-item">
                    <div class="plan-box">
                        <h2>Plan Name</h2>
                        <div class="amount">
                            <h6>Amount</h6>
                            <h3><b>£</b>100</h3>
                            <ul>
                                <li>
                                    <span>Plan Code</span>
                                    PLAN1K
                                </li>
                                <li>
                                    <span>Credit</span>
                                    1000
                                </li>
                            </ul>
                        </div>
                        <div class="description">
                            <h4>Description</h4>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                        </div>
                        <div class="footer-btns">
                            <button class="">Delete</button>
                            <button class="">Purchase</button>
                        </div>
                    </div>
                </div>

                <div class="plan-item">
                    <div class="plan-box">
                        <h2>Plan Name</h2>
                        <div class="amount">
                            <h6>Amount</h6>
                            <h3><b>£</b>100</h3>
                            <ul>
                                <li>
                                    <span>Plan Code</span>
                                    PLAN1K
                                </li>
                                <li>
                                    <span>Credit</span>
                                    1000
                                </li>
                            </ul>
                        </div>
                        <div class="description">
                            <h4>Description</h4>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                        </div>
                        <div class="footer-btns">
                            <button class="">Delete</button>
                            <button class="">Purchase</button>
                        </div>
                    </div>
                </div>

                <div class="plan-item">
                    <div class="plan-box">
                        <h2>Plan Name</h2>
                        <div class="amount">
                            <h6>Amount</h6>
                            <h3><b>£</b>100</h3>
                            <ul>
                                <li>
                                    <span>Plan Code</span>
                                    PLAN1K
                                </li>
                                <li>
                                    <span>Credit</span>
                                    1000
                                </li>
                            </ul>
                        </div>
                        <div class="description">
                            <h4>Description</h4>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                        </div>
                        <div class="footer-btns">
                            <button class="">Delete</button>
                            <button class="">Purchase</button>
                        </div>
                    </div>
                </div>

                <div class="plan-item">
                    <div class="plan-box">
                        <h2>Plan Name</h2>
                        <div class="amount">
                            <h6>Amount</h6>
                            <h3><b>£</b>100</h3>
                            <ul>
                                <li>
                                    <span>Plan Code</span>
                                    PLAN1K
                                </li>
                                <li>
                                    <span>Credit</span>
                                    1000
                                </li>
                            </ul>
                        </div>
                        <div class="description">
                            <h4>Description</h4>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                        </div>
                        <div class="footer-btns">
                            <button class="">Delete</button>
                            <button class="">Purchase</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>



<a href="/Admin/AddPlan">Add Plan</a>

@section scripts{

    <script src="~/Scripts/ViewPlanAdmin.js"></script>
}

