
<div class="">
    <div class="col-md-12">
        <h1 class="page-title txt-color-blueDark">
            <!-- PAGE HEADER -->
            <i class="fa-fw fa fa-plus-square"></i>
            Add Plan
        </h1>
    </div>
</div>

<form id="checkout-form" class="smart-form" novalidate="novalidate">
    <div class="my-body">
        <div class="row">
            <div class="col-md-4">
                <div class="my-field">
                    <label>Plan Code</label>
                    <input type="text" id="txtplancode" name="txtplancode" placeholder="Plane Code">
                </div>
            </div>
            <div class="col-md-4">
                <div class="my-field">
                    <label>Plan Name</label>
                    <input type="text" id="txtplanname" name="txtplanname" placeholder="Plan Name">
                </div>
            </div>
            <div class="col-md-4">
                <div class="my-field">
                    <label>Plan Description</label>
                    <input type="text" id="txtplandes" name="txtplandes" placeholder="Plan Description">
                </div>
            </div>

            <div class="col-md-4">
                <div class="my-field">
                    <label>Plan Expiry Month</label>
                    <input type="text" id="planexpirydate" name="planexpirydate">
                </div>
            </div>
            <div class="col-md-4">
                <div class="my-field">
                    <label>Plan Type</label>
                    <select onchange="showDiv(this)" class="selectpicker" id="plantype" name="plantype">
                        <option id="1" value="1">Pay as you go</option>
                        <option id="2" value="2">Monthlhy</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="my-field">
                    <label>Credit Price</label>
                    <input type="text" id="txtcreditamount" name="txtcreditamount" placeholder="Credit Amount">
                </div>
            </div>
        </div>

        <hr id="mountly-cutsom-hr">

        <div id="dvmonthly" style="display:none;">
            <div id="mountly-cutsom-form" class="row">
            <div class="col-md-4">
                <div class="my-field">
                    <label>No. of Driver</label>
                    <input class="form-control" id="txtnoofdriver" name="txtnoofdriver" placeholder="No. of Driver">
                </div>
            </div>
            <div class="col-md-4">
                <div class="my-field">
                    <label>No. of Agent</label>
                    <input class="form-control" id="txtnoofagent" name="txtnoofagent" placeholder="No. of Agent">
                </div>
            </div>




            <div class="col-md-4">
                <div class="my-field">
                    <label>No. of Vehicle</label>
                    <input class="form-control" id="txtnoofvehicle" name="txtnoofvehicle" placeholder="No. of Vehicle">
                </div>
            </div>

            <div class="col-md-4">
                <div class="my-field">
                    <label>SMS Credit Price</label>
                    <input class="form-control" id="txtpricepersms" name="txtpricepersms" placeholder="SMS Credit Price">
                </div>
            </div>

            <div class="col-md-4">
                <div class="my-field">
                    <label>Brain Tree Plan Name</label>
                    <input class="form-control" id="txtbraintreeplan" name="txtbraintreeplan" placeholder="BrainTree Plan Name">
                </div>
            </div>

            </div>
        </div>
         

        </div>
        <div class="my-footer">
            <input type="button" value="Add Plan" id="btnsubmut" name="btnsubmit" class="btn btn-success btn-lg" />
        </div>
</form>



    <script>
        function showDiv(elem) {
            if (elem.value == 2) {
                document.getElementById('mountly-cutsom-form').style.display = "block";
                document.getElementById('mountly-cutsom-hr').style.display = "block";
            }
            else {
                document.getElementById('mountly-cutsom-form').style.display = "none";
                document.getElementById('mountly-cutsom-hr').style.display = "none";
            }
        }
    </script>


