
@{
    ViewBag.Title = "_AddSubscriptionByAdmin";
}

<!-- Bootstrape CSS and JS -->
<link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>

<!-- Font Awesome CSS -->
<link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<!-- VS CSS -->
<link href="/css/subscription-style.css" rel="stylesheet" type="text/css">
<link href="/css/subscription-responsive.css" rel="stylesheet" type="text/css">



<div id="divLoader" name="divLoader" style="display:block"><img src="~/Content/Images/loader.gif" /></div>

<h1 class="text-center">Purchase Subscription</h1>
<h3 class="text-center"> <span id="dvbuycredit" name="dvbuycredit">   </span></h3>
@*<div id="dvmonthly" name="dvmonthly"></div>*@
@*<div id="dvcreditdeductiondetail">
</div>*@
<br />
<div class="row" id="dvmonthlynew" style="display:none;">
    <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="dash-box">
            <span>No of Agents</span>
            <h1><label id="spnnoOfAgents"></label></h1>
        </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="dash-box">
            <span>No of Driver</span>
            <h1><label id="spnnoOfDrivers"></label></h1>
        </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="dash-box">
            <span>No of Vehicles</span>
            <h1><label id="spnnoOfVehicles"></label></h1>
        </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="dash-box">
            <span>Price Per SMS</span>
            <h1><label id="spnpricePerSMS"></label></h1>
        </div>
    </div>
</div>


<div class="my-body">
    <div class="row">

        <div class="col-md-6">
            <div class="my-field">
                <ul>
                    <li>
                        <label>Cab Office</label>
                        <select id="ddlcaboofice" class="myDropDownLisTId"></select>
                    </li>
                    <li>
                        <label>&nbsp;</label>
                        @*<input type="text" placeholder="">*@
                    </li>
                </ul>
            </div>
            <div class="my-field">
                <label>Cheque no</label>
                <input type="text" placeholder="Cheque no" id="chqueno" name="chqueno">
            </div>
        </div>
      


        <div class="col-md-4" id="dvsmscreditqty" name="dvsmscreditqty">
            <label>SMS Credit Quantity: (Per SMS Credit Price £<span id="lblsmscreditprice" name="lblsmsreditprice"></span>)</label>
            <input type="text" class="form-control" id="smscreditqty" name="smscreditqty" placeholder="SMS Credit Quantity">
            <input type="hidden" name="hdnsmscreditamount" id="hdnsmscreditamount" />
            <input type="hidden" name="hdnsmscreditotaltamount" id="hdnsmscreditotaltamount" />
        </div>

        <div class="col-md-4">
            <label>Credit: (£<span id="lblprice" name="lblprice"></span>)</label>
            <input type="text" class="form-control" id="qty" name="qty" placeholder="Quantity">
            <input type="hidden" name="hdnamount" id="hdnamount" />
        </div>

        <div class="col-md-4">
            Total: <input type="text" class="form-control" id="totalamount" name="totalamount" disabled="disabled">
        </div>

        <div class="col-md-4" id="dvAutoRenewel" name="dvAutoRenewel" style="display:none;">
            Auto Renewel: <input type="checkbox" class="form-control" id="chkautorenewel" name="chkautorenewel">
        </div>
        <div class="col-md-4" id="dvbillingcycle" name="dvbillingcycle" style="display:none;">
            No. Of Billing Cycle:  <input type="text" class="form-control" id="noOfBillingCycle" name="noOfBillingCycle">
        </div>

    </div>

    <div class="bt-drop-in-wrapper">
        <div id="bt-dropin"></div>
    </div>
    <input id="nonce" name="payment_method_nonce" type="hidden" />

    <div class="my-footer">
        <button class="btn btn-success btn-lg" type="button" id="btnsubmut" name="btnsubmut"><span>Purchase For CabOffice</span></button>
    </div>










    @*<div class="site-width" id="payment-tabs">
            <div id="alerts"></div>
            <h1 id="plan-name-title">
                <span id="dvbuycredit" name="dvbuycredit">   </span>
                <div id="dvmonthly" name="dvmonthly"></div>
            </h1>

            <section>
                <input type="hidden" name="plantype" id="plantype" />
                <div class="form-group">
                    <label for="fname">Cab Office:</label>
                    <select id="ddlcaboofice" class="myDropDownLisTId"></select>

                </div>
                <div class="form-group">
                    <label for="lname">Cheque no:</label>
                    <input type="text" class="form-control" id="chqueno">
                </div>

                <div id="dvpayasyougo" style="display:none">
                    <div class="form-group">
                        <label>Credit: (£<span id="lblprice" name="lblprice"></span>)</label>
                        <input type="text" class="form-control" id="qty" name="qty">
                    </div>
                </div>

                <div class="form-group">
                    Total: <input type="text" class="form-control" id="totalamount" name="totalamount" disabled="disabled">
                </div>

                <div class="bt-drop-in-wrapper">
                    <div id="bt-dropin"></div>
                </div>
            </section>
            <button class="button" type="button" id="btnsubmut" name="btnsubmut"><span>Purchase For CabOffice</span></button>

        </div>*@



