

<div class="form-group">
    <label for="plancode">Plan Code</label>
    <input class="form-control" id="txtplancode" name="txtplancode" />
</div>
<div class="form-group">
    <label for="plancode">Plan Name</label>
    <input class="form-control" id="txtplanname" name="txtplanname" />
</div>

<div class="form-group">
    <label for="plancode">Plan Description</label>
    <input class="form-control" id="txtplandes" name="txtplandes" />
</div>
<div class="form-group">
    <label for="plancode">Plan Expiry Month</label>
    <input type="text" id="planexpirydate">
</div>


<div class="form-group">
    <label for="plantype">Plan Type</label>
    <select class="selectpicker" id="plantype" name="plantype">
        <option id="1" value="1">PayAsYouGo</option>
        <option id="2" value="2">Monthlhy</option>
        <option id="2" value="2">Custom</option>
    </select>

</div>

<div id="dvpayasgo">
    @*<div class="form-group">
            <label for="plancode">Credit</label>
            <input class="form-control" id="txtcredit" name="txtcredit" />
        </div>*@
</div>
<div class="form-group">
    <label for="plancode">Credit Price</label>
    <input class="form-control" id="txtcreditamount" name="txtcreditamount" />
</div>

<div id="dvmonthly" style="display:none;">
    <div class="form-group">
        <label for="Noofdriver">No. of Driver</label>
        <input class="form-control" id="txtnoofdriver" name="txtnoofdriver" />
    </div>
    <div class="form-group">
        <label for="Noofagent">No. of Agent</label>
        <input class="form-control" id="txtnoofagent" name="txtnoofagent" />
    </div>
    <div class="form-group">
        <label for="Noofvehicle">No. of Vehicle</label>
        <input class="form-control" id="txtnoofvehicle" name="txtnoofvehicle" />
    </div>
    <div class="form-group">
        <label for="Noofvehicle">Price per SMS</label>
        <input class="form-control" id="txtpricepersms" name="txtpricepersms" />
    </div>

</div>

<div class="form-group">
    <input type="button" value="Add Plan" id="btnsubmut" name="btnsubmit" />
</div>


